* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.container {
    padding: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px;
}

h1 {
    color: #fff;
    z-index: 212;
}

.container div {
    width: 240px;
    height: 300px;
    border: 10px solid #fff;
    transition: 0.2s linear;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.container div figcaption {
    position: absolute ;
    color: #fff ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50% , -50%);
    font-size: 30px ;
    display: none;
    transition: 0.2s linear;
}

img {
    width: 100%;
    height: 100%;
    transition: 0.2s linear;
}
.container div:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.container div:hover img {
    transform: scale(1.111);
}
.container div:hover figcaption {
    display: block;
    z-index: 1111;
}
.popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 2122;

}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    cursor: pointer;
}

.popup-image img {
    position: absolute;
    width: 450px;
    height: 600px;
    border: 5px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width : 768px) {
    .container {
        padding: 30px 100px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 25px;
    }

    .popup-image img {
        width: 360px;
        height: 450px;
    }
}
@media (max-width : 548px) {
    .container {
        padding: 30px 100px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 25px;
    }

    .popup-image img {
        width:290px;
        height: 360px;
    }
}